{% extends 'base.html' %}
{% block content %}
<div class="container ">

    <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>

    <form method='post' action=''>
        {% csrf_token %}
        {% for q in questions.all%}
        <div class="form-group">
            <label for="question">{{q.question}}</label>
        </div>
        <div class="form-check">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1"
                    value="{{q.optionA}}" checked>
                <label class="form-check-label" for="gridRadios1">
                    {{q.optionA}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2"
                    value="{{q.optionB}}">
                <label class="form-check-label" for="gridRadios2">
                    {{q.optionB}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1"
                    value="{{q.optionC}}">
                <label class="form-check-label" for="gridRadios1">
                    {{q.optionC}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2"
                    value="{{q.optionD}}">
                <label class="form-check-label" for="gridRadios2">
                    {{q.optionD}}
                </label>
            </div>
            <br>
        </div>
        {% endfor %}
        <input id='timer' type='hidden' name="timer" value="">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% block script %}
    <script>

        console.log('hello world')
        const timer = document.getElementById('displaytimer')
        console.log(timer.textContent)
        const inputtag = document.getElementById('timer')

        t = 0
        setInterval(() => {
            t += 1
            timer.innerHTML = "<b>Timer: " + t + " seconds</b>"
            inputtag.value = t
        }, 1000)
    </script>
    {% endblock script %}

</div>
{% endblock %}