{% extends 'base.html' %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="container">
        <h2 style="text-align: center;">Your Exams</h2>
    </div>
    <!-- container //  -->
</section>
<div class="container h-100">
    <div class="row align-items-center h-100">
        {%for e in exams%}
        <div class="col mx-auto" style="width: 200px;">
            <div class="card " style="width: 18rem;">
                <img src="https://www.ifa.com.au/images/News/exam-paper-ifa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{e.name}}</h5>
                    <a href="{% url 'exam' e.examid%}" class="btn btn-primary">Take exam</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}